a#speakers
.container.container--column
  h2.speakers__title Speakers
  p.speakers__text Meet our Valuable speakers who will be each giving 10 minutes sessions on different subjects regarding being a digital product author, working at envato and marketing your business.Hope you will have a great time listening to our presentations!
  .speakers__list
    include ../speaker/speaker
