@import '../../common/common';

.speakers {
  padding: 140px 0;

  @media screen and (max-width: $tablet-max) {
    padding-top: 100px;
    padding-bottom: @padding-top;
  }

  &__text {
    max-width: 580px;
    margin-top: 5px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px auto 0;
  }

  &__item {
    width: 30%;
    max-width: 395px;
    border-radius: 15px;
    background-color: $akcent-color;
    padding: 35px (35px / $container-width * 100%) 25px;
    margin-bottom: 20px;
    margin-right: @margin-bottom;

    &:nth-of-type(3n+3) {
      margin-right: 0;
    }

    @media screen and (max-width: $tablet-middle) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__logo {
    background: #fff url(img/speakers-logo.png) no-repeat center;
    background-size: contain;

    @media screen and (max-width: $tablet-middle) {
      display: none;
    }
  }
}

@import '../speaker/speaker';
