@import '../../common/common';

.welcome {
  &__info {
    height: 780px;
    padding-top: 115px;
    background-color: $bg-color--dark;
    transform: skewY($bg-skew) translateY(-70px);
    position: relative;

    &::after {
      @extend .unskew-bg;
      content: '';
      width: 100%;
      height: 200px;
      background: url(img/bg.png) no-repeat (400px / $container-width) * 100%;
      background-size: contain;
      position: absolute;
      bottom: (-40px / $container-width) * 100%;

      @media screen and (max-width: $tablet-middle) {
        height: 140px;
      }
    }

    @media screen and (max-width: $tablet-middle) {
      height: 560px;
    }
  }
}
