.timer__block.timer__block--days
  p.timer__time= days
  p.timer__tips days
.timer__block.timer__block--hours
  p.timer__time= hours
  p.timer__tips hours
.timer__block.timer__block--minutes
  p.timer__time= minutes
  p.timer__tips minutes
.timer__block.timer__block--seconds
  p.timer__time= seconds
  p.timer__tips seconds
