@import '../../common/scss/common';

.timer {
  width: 100%;
  padding: 115px 0;
  margin: 0 auto;
  transform: skewY(5deg);

  @media screen and (max-width: $tablet-middle) {
    padding-top: 50px;
    padding-bottom: @padding-top;
  }

  &__content {
    color: #fff;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 20px;
    border: 2px solid $akcent-color;
    border-radius: 20px;

    @media screen and (max-width: $tablet-middle) {
      padding-bottom: 10px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 25%;
    position: relative;

    &:not(:last-of-type)::after {
      content: ':';
      font-size: (80px / $font-size) * 1rem;
      position: absolute;
      top: 0;
      right: 0;

      @media screen and (max-width: $tablet-middle) {
        font-size: (30px / $font-size) * 1rem;
        top: 10px;
      }

      @media screen and (max-width: $mobile-max) {
        font-size: (20px / $font-size) * 1rem;
        top: 5px;
      }
    }
  }

  &__time {
    font-size: (100px / $font-size) * 1rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 10px;

    @media screen and (max-width: $tablet-middle) {
      font-size: (50px / $font-size) * 1rem;
    }

    @media screen and (max-width: $mobile-max) {
      font-size: (35px / $font-size) * 1rem;
    }
  }

  &__tips {
    font-size: (20px / $font-size) * 1rem;
    font-weight: 400;

    @media screen and (max-width: $tablet-middle) {
      font-size: (12px / $font-size) * 1rem;
    }

    @media screen and (max-width: $mobile-max) {
      font-size: (10px / $font-size) * 1rem;
    }
  }
}
