a#past-events
.container.container--column
  h2.past-events__title Past Events
  p.past-events__text Check out the photos of our previous events where we rocked with a lot of Famous and enthusiatic authors! We’re always planning to make our future events feel fresh and fun to be at. :)
.past-events__list
  .past-events__item.past-events__item-1
  .past-events__item.past-events__item-2
  .past-events__item.past-events__item-3
  .past-events__item.past-events__item-4
.container.container--column
  a(href='#').link.link--additional View More
