@import '../../common/common';

.past-events {
  padding: 140px 0 95px;

  &__text {
    max-width: 600px;
    margin-top: 5px;
  }

  &__list {
    width: 100%;
    margin: 55px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item-1 {
    @include size(55%, $past-event-height);
    background-color: $event1-bg;
  }

  &__item-2 {
    @include size(45%, $past-event-height);
    background-color: $event2-bg;
  }

  &__item-3 {
    @include size(40%, $past-event-height);
    background-color: $event3-bg;
  }

  &__item-4 {
    @include size(60%, $past-event-height);
    background-color: $event4-bg;
  }

  .link {
    margin-left: auto;
    margin-right: @margin-left;
  }
}
