.container
  .elite-rewards__info
    h2.elite-rewards__title We reward the Elites!
    p.elite-rewards__text Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.<br><br>All you have to do is contact us by clicking the button here and then its just going to the event, saying something motivational and taking that swag while looking amazing infront of thousands of other community members.<br><br>*Be advised, we will only give you Elite thank you swag for each level of elite you cross.<br>That means if you do not cross to the next elite level before the next event, you cannot claim your prizes.
    a(href='#').link.link--primary Bring on the swag!
  .elite-rewards__badge
