@import '../../common/scss/common';

.elite-rewards {
  @extend .skew-bg;

  color: #fff;

  &__info {
    @extend .unskew-bg;

    text-align: right;
    width: (665px / $container-width) * 100%;
    padding: 115px 0 100px;
    margin-left: auto;

    @media (max-width: $tablet-middle) {
      width: 100%;
      padding: 60px 0;
    }
  }

  &__text {
    padding-top: 10px;
  }

  &__badge {
    @include square(355px);

    @extend .unskew-bg;

    background: url(img/elite-badge.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: -165px;
    left: -10px;

    @media (max-width: $tablet-max) {
      @include square(280px);

      top: -125px;
      left: 10px;
    }

    @media (max-width: $tablet-middle) {
      display: none;
    }
  }

  .link {
    font-size: (18px / $font-size) * 1rem;
  }
}
