@import '../../common/common';

.navigations {
  flex: 1 1 auto;

  &__list {
    text-align: right;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-right: (40px / $container-width ) * 100%;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__link {
    color: #fff;
    font-size: (15px / $font-size) * 1rem;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: @padding-top;
    position: relative;

    &:hover:not(.navigations__link--active)::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      bottom: 8px;
      left: 0;
    }
  }

  &__link--active {
    color: $akcent-color;
  }

  &__menu-icon {
    display: none;
  }

  @media screen and (max-width: $tablet-max) {
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    top: 0;
    right: 0;

    &__menu-icon {
      @include square($menu-icon-size);
      display: block;
      margin: $menu-icon-size / 2 0 $menu-icon-size / 2 auto;
      position: relative;
      cursor: pointer;

      &::before {
        @include size($menu-icon-size, 3px);
        content: '';
        background-color: #fff;
        box-shadow:
          0 ($menu-icon-size / 3) 0 0 @background-color,
          0 ($menu-icon-size / 3 * 2) 0 0 @background-color;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__list {
      display: none;
      background-color: rgba(255, 255, 255, 0.7);
      text-align: left;

      &.open {
        display: block;
      }
    }

    &__item {
      display: block;
      padding: 0 15px;

      &:last-of-type {
        padding-right: 15px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    &__link {
      color: $additional-color;
      font-size: (14px / $font-size) * 1rem;
      font-weight: 500;

      &:hover:not(.navigations__link--active)::after {
        display: none;
      }
    }

    &__link--active::before {
      content: '';
      width: 10px;
      height: 100%;
      background-color: $akcent-color;
      position: absolute;
      top: 0;
      left: -15px;
    }
  }
}
