form.form.form--sign-up
  h4.form__title Sign up for our event
  input(type='text', placeholder='Enter your name', value='Shahriyer Shuvo').input
  input(type='email', placeholder='Enter your email').input
  input(type='text', placeholder='Phone number').input
  input(type='text', placeholder='Envato Username').input
  button(type='submit').btn.btn--primary.btn--signUp Let me in!
  p.form__tips Hurry up, Limited seats availble<br>*we will never spam your email
