@import '../../common/scss/common';

.contact {
  @media screen and (max-width: $tablet-middle) {
    margin-bottom: 60px;
  }

  &__container {
    height: 660px;
    position: relative;

    @media screen and (max-width: $tablet-middle) {
      height: auto;
    }
  }

  &__map {
    height: inherit;
    z-index: -1;

    @media screen and (max-width: $tablet-middle) {
      display: none;
    }
  }

  &__overlay {
    @include size(100%, inherit);

    background: rgba(0, 0, 0, 0.7);
    position: absolute;

    @media screen and (max-width: $tablet-middle) {
      display: none;
    }
  }

  &__content {
    @include absolute-centered();

    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: $container-width;
    padding: ((60px / $container-width) * 100%) ((70px / $container-width) * 100%);
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);

    @media screen and (max-width: $tablet-middle) {
      flex-direction: column;
      background-color: $bg-color--gray;
      position: relative;
      top: initial;
      left: initial;
      transform: initial;
    }
  }

  &__info {
    text-align: center;
    flex: 0 0 40%;
    padding: 35px 35px 0 0;

    @media screen and (max-width: $tablet-middle) {
      flex: none;
      padding: 0;
    }
  }

  &__img {
    @include size(130px, 140px);

    margin: 0 auto 40px;
  }

  &__text {
    color: #454444;
    font-size: (16px / $font-size) * 1rem;
    text-align: center;
    width: 70%;
    min-width: 230px;
    margin: 0 auto;
  }

  .link {
    margin-top: 25px;
  }
}

.form--contact {
  flex: 1 1 60%;
  max-width: 390px;

  @media screen and (max-width: $tablet-middle) {
    flex: none;
    max-width: 100%;
    margin-top: 40px;
  }
}
