@import './common';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $font-color--main;
  font: 300 $font-size Roboto;
  overflow-x: hidden;

  &.in-transition {
    transition: transform 1000ms ease;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: $container-width;
  padding: (20px / $container-width) * 100%;
  margin: 0 auto;
  position: relative;
}

.container--column {
  flex-direction: column;
}

ul {
  font-size: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  font-size: (40px / $font-size) * 1rem;
  font-weight: 900;
  margin: 0 0 15px;

  @media screen and (max-width: $mobile-max) {
    font-size: (30px / $font-size) * 1rem;
  }
}

h3 {
  font-size: (30px / $font-size) * 1rem;
  font-weight: 900;
  margin: 0 0 20px;

  @media screen and (max-width: $mobile-max) {
    font-size: (20px / $font-size) * 1rem;
  }
}

h4 {
  font-size: (28px / $font-size) * 1rem;
  font-weight: 700;
  margin: 0 0 20px;

  @media screen and (max-width: $mobile-max) {
    font-size: (24px / $font-size) * 1rem;
  }
}

p {
  line-height: 1.4;
  text-align: justify;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 500;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.link {
  color: $font-color--light;
  font-size: (18px / $font-size) * 1rem;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  min-width: 200px;
  max-width: 25%;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: 40px;

  @media screen and (max-width: $mobile-max) {
    width: 100%;
    max-width: 100%;
  }

  &--primary {
    background-color: $akcent-color;
  }

  &--additional {
    background-color: $additional-color;
  }

  &:hover {
    opacity: 0.9;
  }

  &:focus,
  &:active {
    opacity: 0.7;
  }
}
