$akcent-color:              #90d23d;
$additional-color:          #373737;
$error-color:               #e0652a;

$bg-color--dark:            #4b4d4f;
$bg-color--white:           #fff;

$font-color--main:          #242424;
$font-color-tips:           #6c6c6c;
$font-color--light:         #fff;
$font-color-placeholder:    #bebebe;

$table-header-bg:           #a3cc40;
$table-body-bg:             #373737;
$table-even-items-bg:       #4b4d4f;

$event1-bg:                 #3d6ed2;
$event2-bg:                 #90d23d;
$event3-bg:                 #ff9d00;
$event4-bg:                 #e0652a;

$bg-skew:                   -5deg;

$container-width:           1030px;
$sign-up-width:             430px;
