@import '../../common/scss/common';

.event-description {
  padding: 35px (($sign-up-max-width + 140px) / $container-width * 100%) 0 0;
  position: relative;

  @media (max-width: $tablet-middle) {
    padding: 0;
  }
}
