.event-schedule__table
  .event-schedule__header
    div.event-schedule__row.event-schedule__row--header
      div.event-schedule__cell.event-schedule__cell--title.event-schedule__cell--time Time
      div.event-schedule__cell.event-schedule__cell--title Stuff that will happen
  .event-schedule__body
    each item in items
      div.event-schedule__row.event-schedule__row--body
        div.event-schedule__cell.event-schedule__cell--text.event-schedule__cell--time= item.time
        div.event-schedule__cell.event-schedule__cell--text= item.text
div.event-schedule__tips Please keep in mind that the timings may differ according to the flow of the event. The even is actually day long and we do plan to finish it within our set time but it doesn’t have to be, if we all agree to hangour for some time more, what harm could it do? :)
