@import '../../common/scss/common';

.header {
  transform: skewY(5deg);

  @media (max-width: $tablet-max) {
    z-index: 3;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
