@import '../../common/common';

.event-details {
  margin: 120px 0;
  text-align: center;

  @media screen and (max-width: $tablet-middle) {
    margin: 60px 0 100px;
  }

  &__item {
    width: 33%;
    max-width: 350px;
    padding: 0 (10px / $container-width * 100%);
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    @media screen and (max-width: $tablet-middle) {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 60px;
      }
    }
  }

  &__img {
    @include size(200px, 210px);
    margin: 0 auto 35px;
  }

  &__text {
    font-size: (14px / $font-size) * 1rem;
  }
}
