@import '../../common/scss/common';

.event-details {
  text-align: center;
  margin: 120px 0;

  @media screen and (max-width: $tablet-middle) {
    margin: 60px 0 100px;
  }

  @media screen and (max-width: $tablet-middle) {
    margin: 60px 0;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    max-width: 350px;
    padding: 0 (10px / $container-width * 100%);
    list-style: none;

    @media screen and (max-width: $tablet-middle) {
      width: 100%;
      max-width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 60px;
      }
    }
  }

  &__img {
    @include size(200px, 210px);

    margin: 0 auto (80px / $container-width * 100%);
  }

  &__text {
    font-size: (14px / $font-size) * 1rem;
  }
}
