@import '../../common/common';

.footer {
  padding: 40px;
  background-color: $akcent-color;

  .container {
    align-items: center;
  }

  &__content {
    margin: 0 auto;
  }

  &__text {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 377px;
    margin: 0 auto;
  }
}

.link--to-top {
  @include square(40px);

  display: none;
  vertical-align: top;
  position: fixed;
  bottom: 80px;
  right: @bottom * 2;

  &::before {
    @include square(20px);

    content: '';
    border-width: 6px;
    border-left: @border-width solid #212121;
    border-top: @border-left;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover::before {
    opacity: 0.7;
  }
}
