@import '../../common/common';

.footer {
  padding: (40px / $container-width) * 100%;
  background-color: $akcent-color;

  .container {
    align-items: center;
  }

  &__content {
    margin: 0 auto;
  }

  &__text {
    color: #fff;
    font-size: (18px / $font-size) * 1rem;
    font-weight: 300;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;

    @media screen and (max-width: $mobile-max) {
      font-size: (14px / $font-size) * 1rem;
    }
  }
}

.link--to-top {
  @include square(40px);
  display: none;
  vertical-align: top;
  position: fixed;
  bottom: 80px;
  right: @bottom * 2;

  @media screen and (max-width: $tablet-max) {
    right: @bottom;
  }

  &::before {
    @include square(20px);
    content: '';
    border-width: 6px;
    border-left: @border-width solid #212121;
    border-top: @border-left;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover::before {
    opacity: 0.7;
  }
}
