@import '../../common/common';

.sponsors {
  &__container {
    @extend .skew-bg;

    color: #fff;
    padding: 100px 0 70px;
  }

  &__content {
    @extend .unskew-bg;

    width: 625px;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    margin-top: 25px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 50px auto 25px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;

    &:not(:last-of-type) {
      margin-right: 90px;
    }
  }
}
